<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>BuscarProducto</servlet-name>
        <servlet-class>itson.edu.mx.Servlets.BuscarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVenta</servlet-name>
        <servlet-class>itson.edu.mx.Servlets.RegistrarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>itson.edu.mx.Servlets.EliminarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarProducto</servlet-name>
        <url-pattern>/BuscarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVenta</servlet-name>
        <url-pattern>/RegistrarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
